<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Matches</h1>
<table>
    {% for row in table %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
        </tr>
    {% endfor %}
</table>
<h1>Unused Mentees</h1>
<ul>
    {% for row in unused_mentees %}
        <li>{{ row }}</li>
    {% endfor %}
</ul>
<h1>Unused Mentors</h1>
<ul>
    {% for row in unused_mentors %}
        <li>{{ row }}</li>
    {% endfor %}
</ul>
</body>
</html>